/* regole di reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* Stilizzazione elementi comuni */

.small-container {
    max-width: 1000px;
    margin: auto;
}

.big-container {
    padding-top: 120px;
    margin: auto;
    max-width: 1200px;
}

header,
#bring-dropbox {
    background-color: #b4d0e7;
}

.padding-y-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

h2 {
    font-size: 2em;
}

.btn {
    padding: 12px 16px;
    background-color: #0061ff;
    color: white;
    border: none;
}

.btn-white {
    background-color: #ffffff;
    color: black;
    padding: 15px;
}

ul {
    list-style-type: none;
}

hr {
    width: 15%;
    margin: 40px 0;
    border-color: #ECECED;
}

.jumbo-flex .fa-solid {
    margin-top: 40px;
    font-size: 46px;
}


/* Stilizzazione Nav */

nav {
    position: fixed;

    padding: 0 20px;

    width: 100%;
    height: 85px;

    z-index: 5;
    background-color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    height: 100%;
}

.nav-container .flex-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
}

.nav-container .flex-link .links-list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 0 40px;
    align-items: center;
}

.nav-container .flex-link .links-list a {
    color: black;
    text-decoration: none;
}

.nav-container .links-list .login-btn {
    font-size: 1em;
    border: none;
    background-color: white;
}


/* Inizio header */


h1 {
    font-size: 4em;
    font-weight: 800;
}

header .big-container {
    padding-top: 150px;
}


header .big-container .jumbo-flex {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    position: relative;

    bottom: -65px;
}


.text-jumbo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;

    width: 30%;

}

header .big-container .img-jumbo {
    width: 70%;
}

header .big-container .img-jumbo img {
    width: 100%;
}

/* Fine stilizzazione header */


/* Inizio stilizzazione sezioni */

/* Sezione 1 */


#business-plans .column {
    width: calc(100% / 3 - 50px / 3 * 2);
}

/* aggiungo padding alle colonne della sezione */

#business-plans .padding-column {
    padding: 40px 25px;
}

/* fine */

#business-plans .flex-container .column {
    border: 1px solid #d2d2d5;
}

#business-plans .column .column-list {
    padding-bottom: 5px;
}

#business-plans * .user-type {
    border-bottom: 1px solid #d2d2d5;
    text-align: center;
    padding: 10px 0;
}

#business-plans .flex-container .column strong {
    padding-bottom: 25px;
    display: inline-block;
}

#business-plans .column .column-list li {
    padding-bottom: 15px;
}

#business-plans .column-list .fa-check {
    color: #2D66FF;
}

#business-plans .fa-solid {
    padding-right: 5px;
}

#business-plans .column .business-type {
    margin-bottom: 35px;
}

#business-plans .flex-container .business-type>div {
    padding-bottom: 1em;
}

#business-plans .column-title {
    font-weight: bold;
    font-size: 1.7em;
}

#business-plans .business-type .price {
    font-weight: bold;
}

#business-plans .column .btn-section1 {
    width: 100%;
}


#business-plans .flex-container button {
    margin-bottom: 25px;
}

#business-plans .enterprise-card {
    display: flex;
    flex-direction: column;

    position: relative;

    border-color: #d2d2d5;
}

#business-plans .enterprise-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#business-plans .enterprise-flex .title-w-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 20px;
}

#business-plans .enterprise-subtitle {
    padding-bottom: 35px;

    font-weight: 600;
}

#business-plans .enterprise-description {
    padding-right: 250px;
}


#business-plans .small-container h2 {
    margin-bottom: 50px;
    margin-top: 65px;
}

#business-plans .radio-buttons {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
}

#business-plans .features {
    padding-bottom: 40px;
}

#business-plans li {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

/* Stilizzazione radio button */

.radio-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;

    cursor: pointer;
}

.radio-button input {
    display: none;

    width: 0;
    height: 0;
}

.radio-button span {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 20px;
    height: 20px;

    margin-right: 5px;

    border-radius: 50%;
    background-color: white;
    border: 0.5px solid black;
}

.radio-button input:checked+span:after {
    content: "";
    display: block;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: #ffffff;
}

.radio-button input:checked+span {
    background-color: #0e5dde;
}

.radio-button span:before {
    position: absolute;
    content: "";

    width: 100%;
    height: 100%;

    opacity: 0;
    border-radius: 50%;
    background-color: #0e5dde;
}

.radio-button input:checked+span:before {
    animation: growAndFade 0.2s ease-out;
}

@keyframes growAndFade {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* fine radio button */

/* Classi comuni a section 1 e 4 */

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    gap: 0 50px;

    padding-top: 50px;
    padding-bottom: 50px;
}

.flex-container .card {
    width: calc(100% / 3 - 50px / 3 * 2);
}


.enterprise-card {
    width: 100%;

    border: 1px solid black;
}

/* Fine classi comuni */


/* Sezione 2 */

#find-partner .image-partner img {
    width: 100%;
}

#find-partner h4 {
    font-size: 1.6em;
}

#find-partner p {
    margin-top: 30px;
    margin-bottom: 30px;
}

#find-partner .find-partner-container .partner-text {
    padding: 50px;
}

#find-partner .find-partner-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#find-partner .image-partner {
    width: 60%;
}

#find-partner .partner-text {
    width: 40%;
}

/* Sezione 3 */

#more-operations .functions {
    flex-wrap: wrap;
    gap: 30px 0;
}

#more-operations h3 {
    padding-bottom: 40px;
}

#more-operations img {
    width: 100%;
}


/* Sezione 4 */

#find-more h2 {
    padding-bottom: 65px;
}

/* Sezione 5 */

#squares-partners .d-flex5 {
    display: flex;
    flex-grow: 1;
}

#squares-partners .d-flex5>div {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

#squares-partners .squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#squares-partners .squares>div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 50%;
}

#squares-partners .squares img {
    width: 50%;

    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(141deg) brightness(102%) contrast(101%);
}

#squares-partners .squares div:hover {
    border: 15px solid rgba(255, 255, 255, 0.537);
}

#squares-partners .squares div {
    transition: border-width 0.5s;
}

#squares-partners .text {
    padding: 50px 25px;

    overflow: auto;

    background-color: #f5f5f5;
}

#squares-partners .text .quote {
    margin-top: 40px;
}

#squares-partners .text img {
    width: 40%;
}

/* Sezione 6 */

#bring-dropbox .small-container {
    padding: 140px 0;
}

#bring-dropbox .flex-6 {
    display: flex;
    justify-content: space-between;
    gap: 0 130px
}

#bring-dropbox .flex-6 h3 {
    font-size: 2.5em;
    color: #61082b;
}


#bring-dropbox .btn-white {
    padding: 15px 60px;
}

/* Sezione faq */

#faq .small-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

#faq .questions .single-question {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-between;

    padding: 35px 0;

    border-bottom: 1px solid;
}

#faq .questions .q-and-a-flex {
    justify-content: space-between;
    align-items: center;
}

#faq .questions .hide-text {
    display: none;
}

#faq .single-question:active .hide-text {
    display: block;

    padding-top: 20px;
}

#faq .questions .fa-chevron-up {
    transform: rotate(0deg);

    color: #21211D;
}

#faq .questions:active .fa-chevron-up {
    transform: rotate(180deg);
}

#faq h2 {
    padding-bottom: 45px;
}

#faq .questions .first-question {
    border-top: 1px solid grey;
}

#faq .q-and-a-flex {
    display: flex;
}

#faq .q-and-a-flex div:nth-of-type(1) {
    font-weight: 600;
}

/* Fine stilizzazione sezioni */

/* Inizio stilizzazione footer */

footer {
    padding-bottom: 40px;

    background-color: black;
    color: white;
}

#footer .footer-flex {
    display: flex;
    justify-content: space-between;

    padding: 110px 0 0;
}

#footer h4 {
    font-size: 1.2em;
}

#footer .footer-flex .footer-column ul {
    padding-top: 20px;

    list-style-type: none;
}

#footer li {
    padding-bottom: 10px;

    font-weight: 300;
}

#footer {
    border-top: 1px solid white;
}

#footer .sub-footer {
    color: #d3cccc;
}

/* allineo verticalmente nel sotto-footer */

#footer .sub-footer span,
#footer .sub-footer i {
    vertical-align: baseline;
}

#footer .sub-footer hr {
    margin-top: 0;

    width: 10%;

    border-color: #d3cccc;
}


/* Animazioni e transistion */

/* nav e header */

nav .links-list a {
    padding-bottom: 28px;
    transition: all 0.4s ease;
    border-bottom: none;

}

nav .links-list a:hover {
    border-bottom: 2px solid #0061ff;
    font-weight: 600;
    font-size: 1.1em;
}

.links-list button {
    transition: background-color 0.2s;
}

.links-list button:hover {
    background-color: #0062ffc0;
}

/* sezioni */

.small-container button:hover,
.big-container button:hover {
    background-color: #0062ffc0;
}

/* animazioni faq */

#faq .single-question:hover {
    background-color: rgb(195, 192, 192);
}

/* Fine Animazioni e transistion */