/* regole di reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* Stilizzazione elementi comuni */

div {
    /* border: 1px dashed black; */

    /* test */
}

h1 {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 30px;
}

h2 {
    font-size: 32px;
}

header,
#section6 {
    background-color: #b4d0e7;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    padding: 12px 16px;
    background-color: #0061ff;
    color: white;
    border: none;
}

.btn-white {
    background-color: #ffffff;
    color: black;
}

.jumbo-flex .fa-solid {
    margin-top: 40px;
    font-size: 46px;
}

/* Inizio header */

/* Nav */

nav {
    position: fixed;

    padding: 0 20px;

    width: 100%;
    height: 85px;

    z-index: 5;
    background-color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    height: 100%;
}

.links-list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 0 40px;
    align-items: center;
}

.flex-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
}

/* test colore sezioni */



#section4 {
    height: 300px;
}


#section6 {
    height: 360px;
}

#section7 {
    /* test */
    height: 500px;
}

/* FINE test colore sezioni */

/* Stilizzazione Jumbotron */

.big-container {
    padding-top: 185px;
    /* sistemare padding */
    max-width: 1200px;
    margin: auto;
}


.jumbo-flex {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 450px;
    position: relative;
    bottom: -50px;
}


.text-jumbo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;

    width: 30%;
    /* test */
}

.img-jumbo {
    width: 70%;
}

.img-jumbo img {
    width: 100%;
}

/* Fine stilizzazione Jumbotron */


/* Inizio stilizzazione sezioni */

.small-container {
    max-width: 1000px;
    margin: auto;
    padding: 150px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 0 50px;
}

.flex-container div {
    width: calc(100% / 3);
    background-color: chartreuse;
}


.enterprise-card {
    width: 100%;
    height: 300px;
    background-color: coral;
}

/* Sezione 3 */

.find-partner {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 450px;
}


.image {
    width: 60%;
    background-color: palevioletred;
}

.partner-text {
    width: 40%;
    background-color: navy;

}

.functions {
    flex-wrap: wrap;
    gap: 30px 0;
}

/* Sezione 5 */

#section5 div {
    border: 1px dashed;
}

.d-flex5 {
    display: flex;
    flex-grow: 1;
}

.d-flex5 div {
    width: calc(100% / 3);
}

.squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.squares div {
    width: calc(100% / 2);
    min-height: 276px;
}

/* Sezione 6 */

#section6 .flex-6 {
    display: flex;
    justify-content: space-around;
    gap: 0 230px
}

#section6 .flex-6 h3 {
    font-size: 2em;
    color: #61082b;
}

#section6 .flex-6 div {
    width: 50%;
}



/* Sezione faq */

#faq .small-container .questions .single-question {
    padding: 45px 0;
    border-bottom: 2px solid;
}

#faq h2 {
    padding-bottom: 45px;
}

/* Fine stilizzazione sezioni */

/* Inizio stilizzazione footer */

footer {
    background-color: black;
    color: white;
    padding-bottom: 40px;
}

footer .footer-flex {
    display: flex;
    justify-content: space-between;

    padding: 110px 0 0;
}

footer .footer-flex .footer-column ul {
    list-style-type: none;
    padding-top: 20px;
}

footer li {
    padding-bottom: 10px;
    font-weight: 300;
}

.language {
    padding-top: 30px;
    border-top: 1px solid white;
}

.footer-column h4 {
    font-size: 1.5em;
}


/* Classi test */

section img {
    width: 200px;
    height: 200px;
}

.test {
    text-align: center;
}



svg {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(141deg) brightness(102%) contrast(101%);
}