/* regole di reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

}

div {
    border: 1px dashed black;

    /* test */
}

/* Inizio header */

/* Nav */

nav {
    width: 100%;
    height: 85px;
    background-color: goldenrod;
    position: fixed;
    z-index: 5;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.flex-link {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* test colore sezioni */

.header-container {
    background-color: rgb(97, 161, 246);
}


#section1 {
    background-color: rgb(169, 30, 169);
}

/* Jumbotron */

.big-container {
    padding-top: calc(85px + 20px);
    /* test */

    max-width: 1200px;
    margin: auto;
}

.jumbo-flex {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 450px;
}

h1 {
    text-align: center;
    height: 100px;
}


.div-a {
    width: 30%;

    background-color: brown;
    /* test */
}

.div-b {
    width: 70%;

    background-color: blueviolet;
    /* test */
}

.small-container {
    max-width: 1000px;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 0 50px;
}

.flex-container div {
    width: calc(100% / 3);
    background-color: chartreuse;
}


.enterprise-card {
    width: 100%;
    height: 300px;
    background-color: coral;
}

#section2 {
    background-color: gray;
}

.reverse {
    padding: 50px;
    flex-direction: row-reverse;
    height: 500px;
}

#section3 {
    background-color: khaki;
}

.functions {
    flex-wrap: wrap;
    gap: 30px 0;
}

#section4 {
    background-color: lightseagreen;

    height: 300px;
}

#section5 {
    background-color: navajowhite;
}


.d-flex5 {
    display: flex;
    flex-grow: 1;
}

.d-flex5 div {
    width: calc(100% / 3);
}

.squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.squares div {
    width: calc(100% / 2);
    min-height: 276px;
}

#section6 {
    background-color: tomato;
    height: 360px;
}


#section7 {
    background-color: palegreen;

    /* test */
    height: 500px;
}